.settings-window {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.settings-label {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.settings-input {
    font-size: 1.1em;
    background-color: black;
    color: antiquewhite;
    padding: 5px;
    width: 80%;
}

.settings-button {
    font-size: 1.5em;
    background-color: rgb(50, 50, 50);
    color: antiquewhite;
    padding: 5px;
    width: 80%;
    margin-top: 1em;
}
